<article class="feeds-home">
  <p>
    <%= article.articleSection.join(", ").upcase %>
  </p>
  <h3><a href="<%= article.url %>" target="_blank"><%= article.title %></a></h3>
  <%if !home && !article.datePublished.blank? then%>
    <p class="date" property="schema:datePublished" content="<%=article.datePublished.iso8601%>">
      publicado em <%=article.datePublished.strftime("%m/%d/%Y") %>
      <%if !home && !article.author.blank? then%>
       por <span class="author" property="schema:author"><%= article.author %></span>
      <%end%>
    </p>
  <%end%>
  <span style="margin: 0px 0px 0px 0px;">
    <%= render partial: "articles/article_summary_description", locals: {article: article, size: "100"} %>
  </span>
  <p class="sourcelink">
    <%if !article.publisher.blank? then%>
      <em>Source: <a href="<%=article.publisher.url%>" class="grey" target="_blank"><%= article.publisher.name%></a></em>
    <%end%>
  </p>
  <% if home && @articles.last == article then %>
  <p class="morenews">
    <em><%= link_to("ver mais notícias", controller: "articles") %></em>
  </p>
  <% end %>
</article>
