<% content_for :head do %>
  <title>Open Data for Development - Feeds</title>
<% end %>

<div class="row" >
  <div class="large-8 columns articles-listing">
    <section id="articles_listing" class="row">
        <div class="large-9 small-10 medium-10 columns">
          <h1 class="bottom-reset">REDE CONECTADA</h1>
          <em>Fique por dentro das últimas notícias do universo Open Data</em>
        </div>
        <div class="large-3 small-1 medium-2 columns social-buttons">
          <h1>
            <a href="<%= share_twitter %>" class="fa fa-twitter-square"></a>
            <a href="<%= share_linkedin %>" class="fa fa-linkedin-square"></a>
            <a href="<%= share_googleplus %>" class="fa fa-google-plus-square"></a>
          </h1>
        </div>
    </section>
    <section class="row">
        <div class="large-12 columns">
          <% @articles.each do |article| %>
            <%= render partial: "articles/article_details", locals: {article: article, home: false} %>
          <% end %>
        </div>
    </section>
  </div>
  <aside id="partners_listing" class="large-4 columns partners-listing">
    <h2 class="partners-title">Nossos Parceiros</h2>
    <%= render partial: "partners/partners_listing", locals: {partners: @partners } %>
  </aside>
</div>