<% content_for :head do %>
  <title>OD4D - <%= @article.title %></title>
<% end %>

<article typeof="schema:Article" resource="#">
	<div class="callBanner">
		<div class="grid-container">
		  <div class="destaque">
		    <p class="breadcrumb">
		      <%= link_to "INÃCIO", controller: "home", action: "index" %>  |
		      <a href='<%="/section/#{@article.articleSection.first.upcase}"%>'><span property="schema:articleSection"><%= @article.articleSection.first.upcase %></span></a>
		    </p>
		    <h2 property="schema:headline"><%= @article.title %></h2>
		    <p property="schema:datePublished" class="post-fonte">publicado em <%= @article.datePublished.strftime("%d/%m/%Y") %> por <span class="boldfont blackfont" property="schema:author"><%= @article.author %></span> sobre <span class="boldfont blackfont" property="schema:about"><%= raw(@article.about.join('</span>, <span class="boldfont blackfont" property="schema:about">')) %></span> em <a class="semiboldfont" property="schema:publisher" href="<%= @article.publisher.url %>" target="_blank"><%= @article.publisher.name %></a></p>
		  </div>
		</div>
	</div>
	<section property="schema:articleBody" class="grid-container content">
		<div class="grid-70">
			<p>
				<%= raw(@article.article_content) %>
				<% if @article.article_content.size == 500 && @article.is_third_party? %>
					...<br/>
					[<a href="<%=@article.url%>" target="_blank">Leia mais</a>]
				<% end %>
			</p>
		</div>
		<aside class="grid-30">
			<p><h4>Mais posts por <%= @article.author %></h4></p>
			<% @author_articles.each do |article| %>
				<p>
					<%= link_to article.title[0..30].strip + "...", controller: "articles", action: "show", params: {uri: "#{article.url}"} %>
				</p>
			<% end %>
		</aside>
	</section>
</article>