<article typeof="schema:Article" resource="#">
	<div class="callBanner">
		<div class="grid-container">
		  <div class="destaque">
		    <p class="breadcrumb">
		      <%= link_to "INÃCIO", controller: "home", action: "index" %>  | <a href="">EVENTOS</a>
		    </p>
		    <h2 property="schema:headline"><%= @article.title %></h2>
		    <p property="schema:datePublished" class="post-fonte">publicado em <%= @article.datePublished.strftime("%d/%m/%Y") %> por <span class="boldfont blackfont" property="schema:author"><%= @article.author %></span> em <a class="semiboldfont" property="schema:publisher" href="<%= @article.publisher.url %>" target="_blank"><%= @article.publisher.name %></a></p>
		  </div>
		</div>
	</div>
	<section property="schema:articleBody" class="grid-container content">
		<div class="grid-70">
			<p>
				<%= raw(@article.article_content) %>
			</p>
		</div>
		<aside class="grid-30">
			<p><h4>Mais posts por <%= @article.author %></h4></p>
			<% @author_articles.each do |article| %>
				<p>
					<%= link_to article.title[0..30].strip + "...", controller: "articles", action: "show", params: {uri: "#{article.url}"} %>
				</p>
			<% end %>
		</aside>
	</section>
</article>