<div typeof="schema:Article" resource="#">
	<h2 property="schema:headline"><%= @article.title %></h2>
	<a href="<%= @article.url %>" target="blank">publicado em <span property="schema:datePublished"><%= @article.datePublished.strftime("%d %B %Y") %></span></a>
	por <span property="schema:author"><%= @article.author %></span>
	<p>fonte:
		<a property="schema:publisher" href="<%= @article.publisher.url %>"><%= @article.publisher.name %></a>
	</p>
	<p property="schema:articleBody"><%= raw(@article.summary.gsub(/\n/, "<br/>")) %></p>
</div>