<% content_for :head do %>
  <title>OD4D - <%= @article.title if @article %></title>
<% end %>

<article typeof="schema:Article" resource="#" class="main post">
  <div class="callBanner">
    <div class="grid-container">
      <div class="destaque">
        <p class="breadcrumb">
          <%= link_to "#{t('home')}", controller: "home", action: "index" %>  |
          <a href='<%="/articles/filter/articleSection/#{@article.articleSection.first}" if @article %>'><span property="schema:articleSection"><%= @article.articleSection.first.upcase if @article && @article.articleSection.first %></span></a>
        </p>
        <h2 property="schema:headline"><%= @article.title %></h2>
        <p property="schema:datePublished" class="post-fonte">
          <%= t('published_in') %> <%= @article.datePublished.strftime("%d/%m/%Y") %> <%= t('by_author') %>
            <span class="semiboldfont" property="schema:author">
              <%= @article.author %>
            </span>
            <% unless @article.about.empty? %>
              <%= "#{t('about')}" %>              
              <%= raw(@article.get_tokenized_html_about) %>
            <% end %> at <%= raw(@article.publisher_html_element) %></a>
        </p>
      </div>
    </div>
  </div>
  <section property="schema:articleBody" class="grid-container content post-list">
    <div class="grid-70 bgwhite">
      <div class="post-list-content-inner">
        <p>
          <%= raw(@article.article_content) %>
          <% if @article.is_third_party? %>
            ...<br/>
            [<a href="<%=@article.url%>" target="_blank"><%= t('read_more') %></a>]
          <% end %>
        </p>
        <div class="share-post">
          <p><%=t 'likeit_shareit' %></p>
          <%= render :partial => '/layouts/followus', locals: {footer: false} %>
        </div>
      </div>
    </div>
    <aside class="grid-30 box-author share-bar">
      <div class="box-author-inner">
        <h4><%= @article.author.mb_chars.upcase %> <%= t('also_wrote').mb_chars.upcase %></h4>
        <ul class="list-news">
          <% @author_articles.each do |article| %>
            <li class="without-top">
              <span class="category"><%= article.articleSection.first.upcase if article.articleSection.first %></span>
              <p><%= link_to article.title[0..50].strip + "...", controller: "articles", action: "show", params: {uri: "#{article.url}"} %></p>
            </li>
          <% end %>
        </ul>
      </div>
      <% if !@article.about.empty? && @about_articles %>
          <div class="box-about-inner">
            <h4><%= t('more_about').mb_chars.upcase %>:</h4>
            <% @article.about.each do |about| %>
              <p>
              <span class="category"><%=about.upcase%></span>
              <ul class="list-news">
              <% @about_articles[about.to_sym].each do |article| %>
                  <li><%= link_to article.title, {controller: 'articles', action: 'show', params: {uri: article.url}} %></li>
              <% end %>
              </ul>
              </p>
            <% end %>
          </div>
      <% end %>
    </aside>
  </section>
</article>