<% content_for :head do %>
  <title>Open Data for Development</title>
<% end %>

  <section role="main" class="main">
    <section class="home-left">
      <h1><a href="/about">Understand Open Data</a></h1>
      <section id="Video" resource="/about/#od4d-about-video">
        <div class="video-container">
          <iframe property="schema:embedUrl" src="//player.vimeo.com/video/69632849"></iframe>
        </div>
      </section>
      <h1>Feeds from our partners</h1>
      <% @articles.each do |article| %>
        <article class="feeds-home rss" resource="<%=article.url%>">
          <h3><a href="/articles#<%=article.slug%>"><%= article.title %></a></h3>
          <p class="rsshome"><em>Category:</em> <%= article.articleSection %> | <em>Author:</em> <%= article.author %><%if !article.datePublished.nil? then%> | <em>Date:</em> <%=article.datePublished.strftime("%m/%d/%Y") %>
          <%end%></p>
        </article>
      <% end %>
    </section>
    <aside class="home-right">
      <h1>Get Started</h1>
      <h2><a href="/learn/how-to-create-a-semantic-page">How to create a semantic page</a></h2>
      <p>Understanting RDF concept </br>
         RDFa and RDF: WTF? </br>
         Examples
      </p>
      <h2><a href="/learn/how-to-integrate">How to connect your site with us</a></h2>
      <p>Understanting how to connect </br>
         Read our terms and conditions </br>
         Examples
      </p>
    </aside>
  </section>
