<% content_for :head do %>
  <title><%= t('platform_name') %></title>
<% end %>

  <div class="grid-container">
    <h2 class="title blackfont txtcenter"><%= t('od4d_title') %></h2>
    <h4 class="subtitle txtcenter"><%= t('od4d_description') %></h4>
    <h5 class="subtitle txtcenter"><%= raw(t('beta_disclaimer')) %></h5>

    <div id="call-banner" class="call-banner clearfix">
      <h5 class="call-title">
        <%= t('call_title') %>
      </h5>
      <ul class="">
        <li class="curioso">
          <a href="#">
            <span></span>
            <p><%= t('im_curious') %></p>
          </a>
        </li>
        <li class="dev">
          <a href="#">
            <span></span>
            <p><%= t('im_a_developer') %></p>
          </a>
        </li>
        <li class="produtor">
          <a href="#">
            <span></span>
            <p><%= t('im_a_content_producer') %></p>
          </a>
        </li>
      </ul>
    </div>
    <div class="video-call-banner video-curioso">
      <%#= video_tag(['dadosabertos.webm'], id: 'vidcur', class: 'video', size: '550x300', controls: true)  %>
      <div id="vidcur" class="video">
        <iframe src="//player.vimeo.com/video/69632849" width="550" height="309" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
   <div class="video-call-banner video-dev">
      <%#= video_tag(['dadosabertos.webm'], id: 'viddev', class: 'video', size: '550x300', controls: true)  %>
      <div id="viddev" class="video">
        <iframe src="//player.vimeo.com/video/69632849" width="550" height="309" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
    <div class="video-call-banner video-produtor">
      <%#= video_tag(['dadosabertos.webm'], id: 'vidprod', class: 'video', size: '550x300', controls: true)  %>
      <div id="vidprod" class="video">
        <iframe src="//player.vimeo.com/video/69632849" width="550" height="309" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
    <div class="pos-call-banner bgdarkgreen pos-curioso">
      <div class="push-15 grid-85">
        <div class="grid-40">
          <h3><%= t('liked_it') %></h3>
          <a class="more" href="/about">
            <span></span>
            <p><%= t('get_to_know_more') %></p>
          </a>
        </div>
        <div class="grid-40">
          <h4><%= t('see_also') %></h4>
          <ul>
            <li class="dev dev-horizontal clearfix">
              <a href="#">
                <span></span>
                <p><%= t('im_a_developer') %></p>
              </a>
            </li>
            <li class="produtor prod-horizontal clearfix">
              <a href="#">
                <span></span>
                <p><%= t('im_a_content_producer') %></p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="pos-call-banner pos-dev">
      <div class="push-15 grid-85">
        <div class="grid-40">
          <h3><%= t('liked_it') %></h3>
          <a class="more" href="/about">
            <span></span>
            <p><%= t('get_to_know_more') %></p>
          </a>
        </div>
        <div class="grid-40">
          <h4><%= t('see_also') %></h4>
          <ul>
            <li class="curioso curioso-horizontal clearfix">
              <a href="#">
                <span></span>
                <p><%= t('im_curious') %></p>
              </a>
            </li>
            <li class="produtor prod-horizontal clearfix">
              <a href="#">
                <span></span>
                <p><%= t('im_a_content_producer') %></p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="pos-call-banner pos-prod">
      <div class="push-15 grid-85">
        <div class="grid-40">
          <h3><%= t('liked_it') %></h3>
          <a class="more" href="/about">
            <span></span>
            <p><%= t('get_to_know_more') %></p>
          </a>
        </div>
        <div class="grid-40">
          <h4><%= t('see_also') %></h4>
          <ul>
            <li class="curioso curioso-horizontal clearfix">
              <a href="#">
                <span></span>
                <p>Sou curioso</p>
              </a>
            </li>
            <li class="dev dev-horizontal clearfix">
              <a href="#">
                <span></span>
                <p><%= t('im_a_developer') %></p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <section class="grid-container content news">
    <div class="grid-33">
      <h3 class="title-subsection"><%= t('latest_news') %></h3>
      <ul class="list-news">
      	<% @articles.each do |article| %>
	        <li>
	          <h4><%= article.articleSection.first.mb_chars.upcase if article.articleSection.first %></h4>
	          <p><%= link_to article.title.strip, controller: "articles", action: "show", params: {uri: "#{article.url}"} %></p>
	        </li>
        <% end %>
      </ul>
    </div>
    <div class="">
      <h3 class="title-subsection mobile-grid-100"><%= t('featured_in') %> 
        <a href='<%="/articles/filter/articleSection/#{t('featured_section')}"%>'>
        <%= t('featured_section').mb_chars.upcase %></a> <span class="semiboldfont">&gt;&gt;</span></h3>
      <div class="destaquegov grid-33">
          <h4 class="news-title-item title-item-destaque"><%= t('watch_out') %></h4>
          <img src="<%= asset_path 'shutterstock_114997978-b.jpg' %>" title="This is a placeholder image" />
          <h5 class="news-title-item"><%= t('featured_about_1').mb_chars.upcase %></h5>
          <p class="news-txt-larger"><%= link_to t('featured_article_1'), {controller: "articles", action: "show", params: {uri: "http://platform.od4d.org/posts/"+t('featured_article_1_linkid')}} %></p>
      </div>

      <div class="destaque2gov grid-33">
        <div class="destaquemenor">
          <img src="<%= asset_path 'shutterstock_173451446-b.jpg' %>" title="This is a placeholder image">
          <h5 class="news-title-item"><%= t('featured_about_2').mb_chars.upcase %></h5>
          <p class="news-txt-larger"><%= link_to t('featured_article_2'), {controller: "pages", action: "about"} %></p>
        </div>
        <ul class="list-news">
          <li class="without-top">
            <p><%= link_to t('featured_article_3'), {controller: "pages", action: "become_partner"} %></p>
          </li>
          <li class="without-top">
            <p><%= link_to t('featured_article_4'), {controller: "pages", action: "become_contributor"} %></p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="bgorange">
    <div class="grid-container">
      <h3 class="title-engaje"><%= t('engage_us') %> <span><%= t('in_3_parts') %></span></h3>
      <ul class="list-engaje">
        <li class="grid-33">
          <div class="conceitos engaje-item">
            <h4><span class="number-engaje">1.</span><span class="title-item-engaje-content"><%= raw(t('concepts_home_title')) %></span></h4>
            <p><%= link_to t('concepts_websemantics').mb_chars.upcase, {controller: "learn", action: "concepts"} %></p>
            <p><%= link_to t('concepts_rdfa').mb_chars.upcase, {controller: "learn", action: "introduction_to_rdf_and_rdfa"} %></p>
            <p><%= link_to t('concepts_examples').mb_chars.upcase, {controller: "learn", action: "how_to_create_a_semantic_page"} %></p>
          </div>
        </li>
        <li class="grid-33">
          <div class="engaje-item integre clearfix">
            <h4><span class="number-engaje">2.</span><span class="title-item-engaje-content"><%= raw(t('integration_title')) %></span></h4>
            <p class="be-partner"><%= link_to t('integration_beapartner').mb_chars.upcase, {controller: "pages", action: "become_partner"} %></p>
            <p class="be-colaborator"><%= link_to t('integration_colaborator').mb_chars.upcase, {controller: "pages", action: "become_contributor"} %></p>
          </div>
        </li>
        <li class="grid-33">
          <div class="engaje-item compartilhe">
            <h4><span class="number-engaje">3.</span><span class="title-item-engaje-content"><%= raw(t('share_title')) %></span></h4>
            <div>
              <p><%= raw(t('share_quote').mb_chars.upcase) %></p>
              <%= render :partial => '/layouts/followus', locals: {footer: false} %>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="grid-container casos-praticos">
    <h3 class="fontitalic blackgrayfont"><%= t('cases_title').mb_chars.upcase %></h3>

    <div id="horizontalTab">
      <div class="resp-tabs-container bggreen">
          <div class="text-tab clearfix">
            <div class="text-tab clearfix">
              <img src="<%= asset_path 'shutterstock_144889669-b.jpg' %>" title="This is a placeholder image" class="img-tab" />
              <h4><%= t('cases_headline_1') %></h4>
              <p><%= raw t('cases_text_1') %></p>
                <%= link_to t('cases_more_link'), {controller: "articles", action: "show", params: {uri: 'http://platform.od4d.org/posts/'+t('cases_tab_1_linkid')}}, class: 'casos-praticos-link' %>
            </div>
          </div>
          <div>
              <div class="text-tab clearfix">
              <img src="<%= asset_path 'shutterstock_144889669-b.jpg' %>" title="This is a placeholder image" class="img-tab" />
              <h4><%= t('cases_headline_2') %></h4>
              <p><%= t('cases_text_2') %></p>
              <%= link_to t('cases_more_link'), {controller: "articles", action: "show", params: {uri: 'http://platform.od4d.org/posts/'+t('cases_tab_2_linkid')}}, class: 'casos-praticos-link' %>
            </div>
          </div>
          <div>
              <div class="text-tab clearfix">
              <img src="<%= asset_path 'shutterstock_144889669-b.jpg' %>" title="This is a placeholder image" class="img-tab" />
              <h4><%= t('cases_headline_3') %></h4>
              <p><%= t('cases_text_3') %></p>
              <%= link_to t('cases_more_link'), {controller: "articles", action: "show", params: {uri: 'http://platform.od4d.org/posts/'+t('cases_tab_3_linkid')}}, class: 'casos-praticos-link' %>
            </div>
          </div>
          <div>
              <div class="text-tab clearfix">
              <img src="<%= asset_path 'shutterstock_144889669-b.jpg' %>" title="This is a placeholder image" class="img-tab" />
              <h4><%= t('cases_headline_4') %></h4>
              <p><%= t('cases_text_4') %></p>
              <%= link_to t('cases_more_link'), {controller: "articles", action: "show", params: {uri: 'http://platform.od4d.org/posts/'+t('cases_tab_4_linkid')}}, class: 'casos-praticos-link' %>
            </div>
          </div>
          <div>
              <div class="text-tab clearfix">
              <img src="<%= asset_path 'shutterstock_144889669-b.jpg' %>" title="This is a placeholder image" class="img-tab" />
              <h4><%= t('cases_headline_5') %></h4>
              <p><%= t('cases_text_5') %></p>
              <%= link_to t('cases_more_link'), {controller: "articles", action: "show", params: {uri: 'http://platform.od4d.org/posts/'+t('cases_tab_5_linkid')}}, class: 'casos-praticos-link' %>
            </div>
          </div>
      </div>
      <ul class="resp-tabs-list">
        <li class="grid-20"><%= t('cases_tab_1') %></li>
        <li class="grid-20"><%= t('cases_tab_2') %></li>
        <li class="grid-20"><%= t('cases_tab_3') %></li>
        <li class="grid-20"><%= t('cases_tab_4') %></li>
        <li class="grid-20"><%= t('cases_tab_5') %></li>
      </ul>
    </div>

    <p class="others-cases"><%= t('other_cases_part1') %>, <%= link_to t('section_projects'), {controller: "articles", action: "filter", field: "articleSection", term: t('section_projects') }%> <%= t('others_cases_part2') %> <%= link_to t('section_products'), {controller: "articles", action: "filter", field: "articleSection", term: t('section_products') }%> <%= t('others_cases_part3') %></p>
    
  </section>