<%
	if @article
		link_twitter = @article.share_twitter
		link_facebook = @article.share_facebook
		link_gplus = @article.share_googleplus
	else
		od4d_link = "http://platform.od4d.org"
		link_twitter = "https://twitter.com/intent/tweet?url=#{URI.escape(od4d_link)}&text=#{t('od4d_title')}&via=od4_d"
		link_facebook = "https://www.facebook.com/sharer/sharer.php?u=#{URI.escape(od4d_link)}"
		link_gplus = "https://plusone.google.com/_/+1/confirm?hl=en&url=#{URI.escape(od4d_link)}"
	end
%>
<ul class="social-list-link">
	<li class="twitter"><a target="_blank" href="<%= link_twitter %>" title="<%= t('share_twitter') %>"></a></li>
	<li class="facebook"><a target="_blank" href="<%= link_facebook %>" title="<%= t('share_facebook') %>"></a></li>
	<li class="gplus"><a target="_blank" href="<%= link_gplus %>" title="<%= t('share_gplus') %>"></a></li>
	<% if footer %>
		<li class="github"><a target="_blank" href="https://github.com/W3CBrasil" title="GitHub"></a></li>
	<% end %>
</ul>
