  <div class="bottom clearfix">
    <div class="grid-15">
      <h3>OD4D</h3>
      <ul>
        <li><%= link_to t('menu_1'), {controller: "pages", action: "about"} %></li>
        <li><%= link_to t('menu_2'), {controller: "pages", action: "terms_and_conditions"} %></li>
        <li><%#= link_to t('menu_3'), {controller: "pages", action: "privacy_policy"} %></li>
      </ul>
    </div>
    <div class="grid-15">
      <h3><%= t('menu_4') %></h3>
      <ul>
        <li><%= link_to t('menu_4_1'), {controller: "pages", action: "become_partner"} %></li>
        <li><%= link_to t('menu_4_2'), {controller: "pages", action: "become_contributor"} %></li>
      </ul>
    </div>
    <div class="grid-15">
      <h3><%= t('menu_5') %></h3>
      <ul>
        <li><%= link_to t('menu_5_1'), {controller: "learn", action: "concepts"} %></li>
        <li><%= link_to t('menu_5_2'), {controller: "learn", action: "ref_material"} %></li>
        <li><%= link_to t('menu_5_3'), {controller: "learn", action: "capacity_building"} %></li>
        <li><%= link_to t('menu_5_4'), {controller: "learn", action: "glossary"} %></li>
      </ul>
    </div>
    <div class="grid-15">
      <h3><%= t('menu_6') %></h3>
      <ul>
        <li><%= link_to t('menu_6_1'), {controller: "articles", action: "filter", field: "articleSection", term: "Projects" }%></li>
        <li><%= link_to t('menu_6_2'), {controller: "articles", action: "filter", field: "articleSection", term: "Products" }%></li>
      </ul>
    </div>
<!--     <div class="grid-15">
      <h3><%#= t('menu_7') %></h3>
      <ul>
        <li><%#= link_to t('menu_7_1'), {controller: "articles", action: "filter", field: "articleSection", term: "Conferences"} %></li>
        <li><%#= link_to t('menu_7_2'), {controller: "articles", action: "filter", field: "articleSection", term: "Courses"} %></li>
        <li><%#= link_to t('menu_7_3'), {controller: "articles", action: "filter", field: "articleSection", term: "Contests"} %></li>
      </ul>
    </div> -->
    <div class="grid-20 social-bottom">
      <h3><%=t 'follow_us' %></h3>
      <%= render :partial => '/layouts/followus' %>
      <div class="fb-like" data-href="https://www.facebook.com/opendata4dev" data-width="208" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
      <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fopendata4dev&amp;width=208&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=80&amp;appId=222702521261155" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:208px; height:80px;" allowTransparency="true"></iframe>
    </div>
  </div>
  <footer class="mainfooter">
    <a href="index.html">
      <img src="<%= asset_path 'logo.png' %>" alt="Open Data - development for platform" />
    </a>
    <p class="floatRight">© 2014 Open Data for Development - All Rights Reserved.</p>
  </footer>