  <header class="stick maintop grid-100 mobile-grid-100">
    <%= link_to controller: "home", action: "index"  do %>
      <%= image_tag "logo.png", :alt => "Open Data for Development" %>
    <% end %>
    <nav id="menu" class="menu floatRight">
      <ul>
        <li><%= link_to t('menu_1'), {controller: "pages", action: "about"} %></li>
        <li>
          <a class="dropdown" href="#"><%= t('menu_4') %></a>
          <ul class="submenu">
            <li><%= link_to t('menu_4_1'), {controller: "pages", action: "become_partner"} %></li>
            <li><%= link_to t('menu_4_2'), {controller: "pages", action: "become_contributor"} %></li>
          </ul>
        </li>
        <li>
          <a class="dropdown" href="#"><%= t('menu_5') %></a>
          <ul class="submenu">
            <li><%= link_to t('menu_5_1'), {controller: "learn", action: "concepts"} %></li>
            <li><%= link_to t('menu_5_2'), {controller: "articles", action: "filter", field: "articleSection", term: t('section_ref_materials') }%></li>
            <li><%= link_to t('menu_5_3'), {controller: "articles", action: "filter", field: "articleSection", term: t('section_cap_building') }%></li>
            <li><%= link_to t('menu_5_4'), {controller: "learn", action: "glossary"} %></li>
          </ul>
        </li>
        <li>
          <a class="dropdown" href="#"><%= t('menu_6') %></a>
          <ul class="submenu">
              <li><%= link_to t('menu_6_1'), {controller: "articles", action: "filter", field: "articleSection", term: t('section_projects') }%></li>
              <li><%= link_to t('menu_6_2'), {controller: "articles", action: "filter", field: "articleSection", term: t('section_products') }%></li>
          </ul>
        </li>
<!--         <li>
          <a class="dropdown" href=""><%#= t('menu_7') %></a>
          <ul class="submenu">
              <li><%#= link_to t('menu_7_1'), {controller: "articles", action: "filter", field: "articleSection", term: "Conferences"} %></li>
              <li><%#= link_to t('menu_7_2'), {controller: "articles", action: "filter", field: "articleSection", term: "Courses"} %></li>
              <li><%#= link_to t('menu_7_3'), {controller: "articles", action: "filter", field: "articleSection", term: "Contests"} %></li>
          </ul>
        </li> -->
        <li><a href="/casein"><span class="login">LOGIN</span></a></li>
      </ul>
    </nav>
  </header>