  <header class="stick maintop grid-100 mobile-grid-100">
    <%= link_to controller: "home", action: "index"  do %>
      <%= image_tag "logo.png", :alt => "Open Data for Development" %>
    <% end %>
    <nav id="menu" class="menu floatRight">
      <ul>
        <li><a href=""><%= t('menu_1') %></a></li>
        <li><a href=""><%= t('menu_2') %></a></li>
        <li><a href=""><%= t('menu_3') %></a></li>
        <li>
          <a class="dropdown" href=""><%= t('menu_4') %></a>
          <ul class="submenu">
            <li><a href="#"><%= t('menu_4_1') %></a></li>
            <li><a href="#"><%= t('menu_4_2') %></a></li>
          </ul>
        </li>
        <li>
          <a class="dropdown" href=""><%= t('menu_5') %></a>
          <ul class="submenu">
            <li><a href=""><%= t('menu_5_1') %></a></li>
            <li><a href=""><%= t('menu_5_2') %></a></li>
            <li><a href=""><%= t('menu_5_3') %></a></li>
            <li><a href=""><%= t('menu_5_4') %></a></li>
          </ul>
        </li>
        <li>
          <a class="dropdown" href=""><%= t('menu_3') %>USE CASES</a>
          <ul class="submenu">
              <li><a href="#"><%= t('menu_3') %>Projects</a></li>
              <li><a href="#"><%= t('menu_3') %>Products</a></li>
          </ul>
        </li>
        <li>
          <a class="dropdown" href=""><%= t('menu_3') %>EVENTS</a>
          <ul class="submenu">
              <li><a href="#"><%= t('menu_3') %>Conferences</a></li>
              <li><a href="#"><%= t('menu_3') %>Courses</a></li>
              <li><a href="#"><%= t('menu_3') %>Contests</a></li>
          </ul>
        </li>
        <li><a href="/casein"><span class="login">LOGIN</span></a></li>
      </ul>
    </nav>
  </header>