<% I18n.locale = 'en' %>
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href='http://fonts.googleapis.com/css?family=Exo+2:900italic,100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :head %>
  <script>
    $(window).load(function(){
      $(".stick").sticky({ topSpacing: 0 });
    });
  </script>
</head>
<body prefix="schema: http://schema.org/">
  <%= render :partial => '/layouts/header' %>

  <div role="main">
    <%= yield %>
  </div>

  <%= render :partial => '/layouts/footer' %>

  <%= render :partial => '/layouts/ga_script' if Rails.application.config.use_google_analytics %>
  <%= render :partial => '/layouts/responsivetabs_script' %>
</body>
</html>
