<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href='http://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Exo+2:900italic,100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :head %>
</head>
<body prefix="schema: http://schema.org/">
  <header role="banner">
    <div class="center-align">
      <div class="logo">
        <a href="/"><%= image_tag("logo-od4d2.png", :alt => "Open Data for Development") %></a>
      </div>
      <div class="div-nav-menu">
        <nav class="top-bar" data-topbar role="navigation">
          <ul class="title-area">
            <li class="name">
            </li>
             <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>
          <div class="section top-bar-section">
            <ul>
              <li><%= link_to("ABOUT THE PROJECT", controller: "pages", action: "about") %></li>
              <li><%= link_to("CONNECTED NETWORK", controller: "articles") %></li>
              <li><%= link_to("PARTNERS", controller: "partners") %></li>
              <li class="has-dropdown">
                <a href="#">LEARN</a>
                  <ul class="dropdown">
                    <li><%= link_to("CONNECT WITH US", controller: "learn", action: "how_to_integrate_with_od4d") %></li>
                    <li><%= link_to("INTRODUCTION RDF AND RDFa", controller: "learn", action: "introduction_to_rdf_and_rdfa") %></li>
                    <li><%= link_to("CREATE A SEMANTIC PAGE", controller: "learn", action: "how_to_create_a_semantic_page") %></li>
                    <li><%= link_to("GLOSSARY", controller: "learn", action: "glossary") %></li>
                  </ul>
                </li>
                <li><a href="https://github.com/W3CBrasil/OD4D" target="blank"><%= image_tag("github32.png", :alt => "contribute on github") %></a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>

  <div class="main" role="main">
    <%= yield %>
  </div>

  <footer class="inner-shadow clear" role="contentinfo">
    <div class="center-box out-shadow">
      <div class="center-align">
        <p class="footbar">
          <%= link_to("Terms and conditions", controller: "pages", action: "terms_and_conditions") %>
        </p>
        <p class="copyright">
          © 2014 Open Data for Development - All Rights Reserved.
        </p>
      </div>
    </div>
  </footer>
  <%= render :partial => '/layouts/ga_script' if ENV["USE_GOOGLE_ANALYTICS_SCRIPT"] == "true" %>
</body>
</html>
