<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href='http://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Exo+2:900italic,100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :head %>
  <script>
    $(window).load(function(){
      $(".stick").sticky({ topSpacing: 0 });
    });
  </script>
</head>
<body prefix="schema: http://schema.org/">
  <header class="stick maintop grid-100 mobile-grid-100">
    <%= link_to controller: "home", action: "index"  do %>
      <%= image_tag "logo.png", :alt => "Open Data for Development" %>
    <% end %>
    <nav id="menu" class="menu floatRight">
      <ul>
        <li><a href="">SOBRE A PLATAFORMA</a></li>
        <li>
          <a class="dropdown" href="">COMO PARTICIPAR</a>
        </li>
        <li>
          <a class="dropdown" href="">UNIVERSO OPENDATA</a>
        </li>
        <li>
          <a class="dropdown" href="">CASOS PRÁTICOS</a>
        </li>
        <li>
          <a class="dropdown" href="">EVENTOS</a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="main" role="main">
    <%= yield %>
  </div>

  <div class="bottom">

  </div>
  <footer class="mainfooter">
    <a href="">TERMOS E CONDIÇÕES</a>
    <p class="floatRight">© 2014 Open Data for Development - All Rights Reserved.</p>
  </footer>
  <%= render :partial => '/layouts/ga_script' if Rails.application.config.use_google_analytics %>
</body>
</html>
